Repository MayNiklas/shelly-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix fmt, gofmt -w

nix fmt:
  name: Nix fmt
  entry: nix fmt
  language: system

gofmt -w:
  name: gofmt -w
  entry: gofmt -w
  language: system

fix nix run .
  cmd/shelly_exporter/main.go
  flake.nix
Due: nix fmt, gofmt -w

add working demo from https://github.com/prometheus/client_golang/blob/main/examples/gocollector/main.go
  .gitignore
  cmd/shelly_exporter/main.go
  flake.nix
  go.mod
  go.sum
Due: nix fmt, gofmt -w

add info on metrics location
  README.md
Due: none

add metrics
  cmd/shelly_exporter/main.go
  flake.nix
Due: nix fmt, gofmt -w

add https request
  cmd/shelly_exporter/main.go
Due: gofmt -w

add shelly_power_current
  cmd/shelly_exporter/main.go
Due: gofmt -w

fix shelly_power_total
  cmd/shelly_exporter/main.go
Due: gofmt -w

add shelly_uptime
  cmd/shelly_exporter/main.go
Due: gofmt -w

add shelly_temperature
  cmd/shelly_exporter/main.go
Due: gofmt -w

shelly_update_available
  cmd/shelly_exporter/main.go
Due: gofmt -w

create nix service module
  default.nix
  flake.nix
Due: nix fmt

fix nixosModule definition
  flake.nix
Due: nix fmt

module in flake.nix
  default.nix
  flake.nix
Due: nix fmt

add packages.default
  flake.nix
Due: nix fmt

fix go run .
  cmd/shelly_exporter/main.go
  flake.nix
  go.mod
  main.go
Due: nix fmt, gofmt -w

add go pre-commit checks
  .pre-commit-config.yaml
  main.go
Due: gofmt -w

move code
  cmd/shelly_exporter/main.go
Due: gofmt -w

change greeting
  cmd/shelly_exporter/main.go
Due: gofmt -w

add target seperator
  cmd/shelly_exporter/main.go
Due: gofmt -w

fix shell.nix
  shell.nix
Due: nix fmt

implemented ?target
  cmd/shelly_exporter/main.go
Due: gofmt -w

fix vendorSHA
  flake.nix
Due: nix fmt

use local vars
  cmd/shelly_exporter/main.go
Due: gofmt -w

add port & listen flag
  cmd/shelly_exporter/main.go
Due: gofmt -w

add port & listen variable to module
  flake.nix
Due: nix fmt

Update README.md
  README.md
Due: none

add check $out/bin/shelly-plug-s-prometheus-exporter -h
  .drone.yml
  flake.nix
Due: nix fmt

get shelly_hostname
  cmd/shelly_exporter/main.go
Due: gofmt -w

print shelly name
  cmd/shelly_exporter/main.go
Due: gofmt -w

add libary doc
  README.md
Due: none

Expand README
  README.md
Due: none

add Prometeus config to README
  README.md
Due: none

remove prints
  cmd/shelly_exporter/main.go
Due: gofmt -w

fix -listen
  cmd/shelly_exporter/main.go
Due: gofmt -w

reformat vars
  cmd/shelly_exporter/main.go
Due: gofmt -w

add shelly_name label
  cmd/shelly_exporter/main.go
Due: gofmt -w

Move structs to separtate file
  cmd/shelly_exporter/main.go
  cmd/shelly_exporter/shelly.go
Due: gofmt -w

Ignore binary
  .gitignore
Due: none

Simplify fetching
  cmd/shelly_exporter/main.go
  cmd/shelly_exporter/shelly.go
Due: gofmt -w

add testdata
  tests/settings.json
  tests/status.json
Due: none

Path conditions:
  nix fmt: any of: \.nix$
  gofmt -w: any of: \.go$
