Repository MayNiklas/shelly-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix fmt, gofmt -w

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: nix fmt
            name: Nix fmt
            entry: nix fmt
            files: \.nix$
            language: system

    - repo: local
      hooks:
          - id: gofmt -w
            name: gofmt -w
            entry: gofmt -w
            files: \.go$
            language: system

Add test templates
  cmd/shelly_exporter/main_test.go
  cmd/shelly_exporter/shelly_test.go
Due: gofmt -w

Test structure
  cmd/shelly_exporter/main.go
  cmd/shelly_exporter/main_test.go
  cmd/shelly_exporter/shelly.go
  cmd/shelly_exporter/shelly_test.go
Due: gofmt -w

Add mock server
  cmd/shelly_exporter/main_test.go
  cmd/shelly_exporter/shelly.go
Due: gofmt -w

Add test for parsing json
  cmd/shelly_exporter/main_test.go
  cmd/shelly_exporter/shelly_test.go
  go.mod
Due: gofmt -w

Test for generated metrics
  cmd/shelly_exporter/main_test.go
  tests/metrics.prom
Due: gofmt -w

Fix last tests
  cmd/shelly_exporter/shelly_test.go
Due: gofmt -w

Fix sha256
  flake.nix
  go.mod
Due: nix fmt

Update drone.ymlo
  .drone.yml
Due: none

Fix drone typo
  .drone.yml
Due: none

Revert running tests in drone
  .drone.yml
Due: none

Create go.yml
  .github/workflows/go.yml
Due: none

Update README.md
  README.md
Due: none

use prometeus.NewGaugeVec instead of newGauge
  cmd/shelly_exporter/main.go
Due: gofmt -w

fix tests
  tests/metrics.prom
Due: none

add ip label
  cmd/shelly_exporter/main.go
  tests/metrics.prom
Due: gofmt -w

set shelly_labels as var
  cmd/shelly_exporter/main.go
Due: gofmt -w

Update README (different use of target parameter & general information)
  README.md
Due: none

README: Available metrics
  README.md
Due: none

format README
  README.md
Due: none

rename repository
  .drone.yml
  .gitignore
  README.md
  flake.nix
  go.mod
  main.go
Due: nix fmt, gofmt -w

Fetch only settings once
  cmd/shelly_exporter/main.go
  cmd/shelly_exporter/shelly.go
Due: gofmt -w

gofmt shell_test.go
  cmd/shelly_exporter/shelly_test.go
Due: gofmt -w

gofmt main.go
  cmd/shelly_exporter/main.go
Due: gofmt -w

Revert "Merge pull request #3 from MayNiklas/settings-once"
  cmd/shelly_exporter/main.go
  cmd/shelly_exporter/shelly.go
  cmd/shelly_exporter/shelly_test.go
Due: gofmt -w

add configure-prometheus
  flake.nix
Due: nix fmt

add configure-prometheus in README
  README.md
Due: none

add release workflow
  .github/workflows/release.yml
Due: none

❄️ nix flake update
  flake.lock
Due: none

add docker image
  .github/workflows/docker-image.yml
  flake.nix
Due: nix fmt

add env parsing
  .pre-commit-config.yaml
  cmd/shelly_exporter/main.go
  flake.nix
  go.mod
  go.sum
Due: nix fmt, gofmt -w

execute -h after building container
  .github/workflows/docker-image.yml
  flake.nix
Due: nix fmt

use arch matrix for docker build
  .github/workflows/docker-image.yml
Due: none

create docker releases
  .github/workflows/docker-image-release.yml
Due: none

rename file
  .github/workflows/docker-tags.yml
Due: none

add binfmt to CI workflow
  .github/workflows/docker-image.yml
  .github/workflows/docker-tags.yml
Due: none

build aarch64 image
  .github/workflows/docker-image.yml
  .github/workflows/docker-tags.yml
Due: none

rename CI workflows
  .github/workflows/docker-image.yml
  .github/workflows/docker-tags.yml
Due: none

extra-platforms = aarch64-linux
  .github/workflows/docker-image.yml
  .github/workflows/docker-tags.yml
Due: none

update cachix/install-nix-action
  .github/workflows/docker-image.yml
  .github/workflows/docker-tags.yml
Due: none

build i686-linux image
  .github/workflows/docker-image.yml
  .github/workflows/docker-tags.yml
Due: none
